{% extends 'app/base.html' %}

{% block content %}
    <div class="main_content">
        <div class="row mt-3">
            <div class="col-md-7 col-sm-12 ">
                <a href="{% url 'sell' %}" class="btn btn-primary">Back</a>
            </div>
        </div>
        <div class="d-flex justify-content-center"><h1>PURCHASE SELL BILLS</h1></div> 
        <form method="GET" class="m-3">
            <div class="row">
                <div class="col-md-11">
                    <input type="text" class="form-control" name="search" placeholder="FIND AY BILLS">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">FIND</button>
                </div>
            </div>
        </form> 
        <div class="info m-1">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">BILL NUMBER</th>
                    <th scope="col">BILL DATE</th>
                    <th scope="col">SUPPLIER NAME</th>
                    <th scope="col">BILL AMOUNT</th>
                    <th scope="col">PAYMENT STATUS</th>
                    <th scope="col">TOTAL PROFIT</th>
                    <th scope="col">VIEW DETAILS</th>
                  </tr>
                </thead>
                <tbody>
                    {% for sell_bill in sell_bills %}
                        <tr>
                            <td scope="row">{{ sell_bill.sell_bill_pk }}</td>
                            <td>{{ sell_bill.sell_date }}</td>
                            <td>{{ sell_bill.supplier }}</td>
                            <td>{{ sell_bill.total_amount }}</td>
                            <td>{{ sell_bill.payment_status }}</td>
                            <td>{{ sell_bill.total_profit }}</td>
                            <td>
                                <a href="{% url 'sell-bill-details' sell_bill.sell_bill_pk %}" class="rm-defualt-btn-style m-1"><button type="button" class="btn btn-secondary">View Details</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock content%}