{% extends 'app/base.html' %}

{% block content %}
    <div class="main_content">
        <div><h3>SELL</h3></div>  
        <div class="buttons m-1">
            <a href="{% url 'create-sell-bill' %}" class="rm-defualt-btn-style m-1"><button type="button" class="btn btn-primary btn-lg btn-block">CREATE NEW BILL</button></a>
        </div>
        <div class="m-3 p-2">
            <div class="row m-2">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL BILLS</h6>
                            <h1 class="card-text d-flex justify-content-center">{{total_bills}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL STOCK SOLD</h6>
                            <h1 class="card-text d-flex justify-content-center">{{total_payments}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PROFIT</h6>
                            <h1 class="card-text d-flex justify-content-center">{{total_profits}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PAID BILLS</h6>
                            <h1 class="card-text d-flex justify-content-center">{{paid_bills}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PAID STOCK SOLD</h6>
                            <h1 class="card-text d-flex justify-content-center">{{paid_payments}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PAID PROFIT</h6>
                            <h1 class="card-text d-flex justify-content-center">{{paid_profits}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PENDING BILLS</h6>
                            <h1 class="card-text d-flex justify-content-center">{{pending_bills}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PENDING STOCK SOLD</h6>
                            <h1 class="card-text d-flex justify-content-center">{{pending_payments}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-center">TOTAL PENDING PROFIT</h6>
                            <h1 class="card-text d-flex justify-content-center">{{pending_profits}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons m-1">
            <a href="{% url 'sell-bill-list' %}" class="rm-defualt-btn-style m-1"><button type="button" class="btn btn-outline-dark btn-lg btn-block">PREVIOUS SELL BILL</button></a>
        </div>
    </div>
{% endblock content%}